@import "~@/sass/base";

/* ----------------------------------------------------------------------------
*
* Contact - Shared Theme
*
* ---------------------------------------------------------------------------- */

.l-contact {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.l-contact-form {
    input, textarea {
        width: 100%;
    }
}

.l-contact-submit {
    padding: 1rem 0 0 0;

    input {
        max-width: 45%;
    }
}

.c-contact-i {
    padding: 0 .5rem 0 0;
}

@include media-breakpoint-down(md) {
    .l-contact-submit {
        input {
            max-width: 100%;
        }
    }
}
