@import "~@/sass/base";

.l-featured {
    padding: 4rem 1rem 4rem 3rem;
}

.c-featured-image {
    img {
        border-radius: 50%;
        width: 160px;
        height: 160px;
        margin-bottom: 3rem;
    }
}

.l-featured-col {
    max-width: 350px;
    margin: 0 auto;
}

@include media-breakpoint-down(md) {
    .l-featured {
        padding: 2rem 15px 2rem 15px;
    }

    .l-featured-col {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
