@import "~@/sass/base";

$hero-margin: 0 0 rem-calc(40) 0 !default;
$hero-content-padding: rem-calc(200) 0 0 0 !default;

$hero-kicker-margin: 0 0 rem-calc(10) 0 !default;

$hero-subheading-color: $gray-600 !default;
$hero-subheading-margin: 0 0 rem-calc(24) 0;

$hero-cta-margin: rem-calc(15) 0 0 0;

.c-hero {
    $this: &;

    margin: $hero-margin;
    position: relative;

    &__content-container {
        padding-bottom: rem-calc(60);
    }

    &__content {
        padding: $hero-content-padding;
        max-width: 700px;

        & > *:last-child {
            margin-bottom: 0;
        }
    }

    &__kicker {
        margin: $hero-kicker-margin;
    }

    &__subheading {
        margin: $hero-subheading-margin;
    }

    &__cta {
        margin: $hero-cta-margin;
    }

    &__content-scroll {
        position: relative;
        bottom: 30px;
        text-align: center;
        top: 30px;
        margin-top: 15px;
        display: block;
    }
}

@include media-breakpoint-up(sm) { 
    .c-hero-card {
        &__container {
            position: relative;
            text-align: right;
            display: flex;
            align-items: center;
        }
    
        &__content-container {
            position: absolute;
            width: 400px;
            text-align: left;
            padding: rem-calc(30);
            z-index: 1;
        }

        &__subheading {
            color: $gray-600;
            line-height: 1.5;
            margin-bottom: rem-calc(20);
        }
    
        &__media {
            max-width: 1024px;
            margin-left: 150px;
            width: calc(100% - 150px);
            min-height: 350px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .c-hero-card {
        &__media {
            min-height: 500px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .c-hero-card {
        &__content-container {
            width: 550px;
            padding: 48px 48px 36px;
        }
    
        &__subheading {
            color: $gray-600;
            margin-bottom: 24px;
        }
    
        &__media {
            margin-left: 250px;
            width: calc(100% - 250px);
            min-height: 600px;
        }
    }
}