@import "~@/sass/base";

/* ----------------------------------------------------------------------------
*
* Logo - Shared Theme
*
* ---------------------------------------------------------------------------- */

$c-logo-width: 135px !default;

.c-logo {
    display: block;

    &__img {
        width: $c-logo-width;
        max-width: 100%;
    }
}