@import "~@/sass/base";

// Add support for style guide colors
@each $color, $value in $colors {
    .h-color--#{$color} {
        color: $value !important;
    }
}

// Add support for style guide colors
@each $color, $value in $colors {
    .h-bg-color--#{$color} {
        background-color: $value !important;
    }
}

// Changes the text color based off of the theme - only use with theme background colors
.h-text-contrast {
    @include theme-color-contrast($colors, $isParent: true);
}

//Colors
$primary-color: #11869b;
$primary-color-alt: #015666;
$secondary-color: #a9044f;
$secondary-color-alt: #ba0034;
$tertiary-color: #f2a300;
$tertiary-color-alt: #f38800;
$light-grey: #cdd6dd;
$light-grey-alt: #adbbc5;
$light-grey-alt-2: #f6f6f6;
$medium-grey: #a399a8;
$medium-grey-alt: #526774;
$dark-grey: #35434b;
$dark-grey-alt: #161e23;
$white: #ffffff;

.primary-color-text{
    color: $primary-color;
}

.primary-color-alt-text{
    color: $primary-color-alt;
}

.secondary-color-text{
    color: $secondary-color;
}

.secondary-color-alt-text{
    color: $secondary-color-alt;
}

.tertiary-color-text{
    color: $tertiary-color;
}

.tertiary-color-alt-text{
    color: $tertiary-color-alt;
}

.light-grey-text{
    color: $light-grey;
}

.light-grey-alt-text{
    color: $light-grey-alt;
}

.light-grey-alt-2-text{
    color: $light-grey-alt-2;
}

.medium-grey-text{
    color: $medium-grey;
}

.medium-grey-alt-text{
    color: $medium-grey-alt;
}

.dark-grey-text{
    color: $dark-grey;

}

.dark-grey-alt-text{
    color: $dark-grey-alt;
}

.white-text{
    color: $white;
}

//Links

.primary-color-text:hover{
    color: $primary-color;
}

.primary-color-alt-text:hover{
    color: $primary-color-alt;
}

.secondary-color-text:hover{
    color: $secondary-color;
}

.secondary-color-alt-text:hover{
    color: $secondary-color-alt;
}
