@import "app";
@import "nav";
@import "navbar";
@import "sidebar-nav";
@import "markdown";

// Import live styling assets
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}