@import "~@/sass/base";

.mod-title{
    &--center {
        max-width: 700px;
        margin: 0 auto rem-calc(30);
        text-align: center;
    }

    &__heading {
        font-family: $cardo;
        color: $primary-color;
        font-weight: 500;
        font-size: rem-calc(30);
        line-height: rem-calc(41);
    }
}