<div class="tiles tiles__home-page">
    
    <!-- Start New Row -->
    <div class="row">
        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/Group3.png" v-lazy-img="'assets/Group3.png'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Bank and Financial</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/Group5.png" v-lazy-img="'assets/Group5.png'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Car Accident</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/Group7.png" v-lazy-img="'assets/Group7.png'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Personal Injury</h2>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/Group4.png" v-lazy-img="'assets/Group4.png'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Corporate</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/Group6.png" v-lazy-img="'assets/Group6.png'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Dispute Resolution</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/Group8.png" v-lazy-img="'assets/Group8.png'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Employment Law</h2>
                </div>
            </a>
        </div>
    </div>
</div>