@import "~@/sass/base";

.r-border {
    & > div{
        &:after {
            content: "";
            border-right: 1px solid $primary-color;
            position: absolute;
            right: 0;
            width: 1px;
            top: 20%;
            height: 60%;
        }
        
        &:last-child {
            &:after{
                border-right: 0px solid $primary-color;
            }
        }
    }
}

.border-top {
    border-top: 1px solid #C6C6C6;
    padding-top: rem-calc(40);
}

.border-bottom {
    border-bottom: 1px solid #C6C6C6;
    padding-bottom: rem-calc(40);
}
