@import "~@/sass/base";

/* ----------------------------------------------------------------------------
*
* Hero - XC Theme
*
* ---------------------------------------------------------------------------- */

.c-promo {
    $this: &;

    &__heading {
        line-height: 1.35;
        font-weight: 600;
    }

    @at-root a#{$this} {
        &:after {
            content: '';
            display: block;
            background-color: #11869b;
            height: 0;
            opacity: 0;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            transition: .2s ease-in-out all;
        }

        &:hover, &:focus {
            &:after {
                height: 8px;
                opacity: 1;
            }
        }
    }
}
