<div class="l-content-blog">
    <h1 class="sr-only">Blog</h1>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <article class="l-tile l-blog-tile">
                    <header class="c-blog-content-top">
                        <h2 class="h-line-mark large-mark">Accessibility 101: Tips for Designing With Accessibility in Mind</h2>

                        <div class="c-author-image">
                            <img src="assets/jerico.jpg" alt="Featured People">
                        </div>

                        <p>June 16, 2017 | By: <a href="#0">Jerico Angeles</a></p>
                    </header>

                    <div class="c-blog-image h-placeholder-image h-placeholder-image--30">
                        <img src="assets/fifty-fifty-image.jpg" alt="blog image" class="is-loaded">
                    </div>

                    <div class="c-blog-content-center">
                        <p>Consulting is a fast-paced and rewarding environment, in stark contrast to the iterative and perfection-chasing
                            product design environment. But one thing is constant and should be a top priority: Accessibility.
                            Trying to come up with the coolest and innovative design tends to leave accessibility considerations
                            behind…</p>

                        <a href="#">Read Article</a>
                    </div>

                    <footer class="c-blog-content-bottom">
                        <div class="row d-md-flex align-items-md-center">
                            <div class="col-sm-12 col-md-6">
                                <div class="c-label-list">
                                    <span>Tags:</span>

                                    <ul class="c-tag-list">
                                        <li><a class="c-tag-link" href="#0">Accessibility, </a></li>
                                        <li><a class="c-tag-link" href="#0">User Experience</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="c-label-list justify-content-md-end">
                                    <span>Share:</span>

                                    <ul class="social">
                                        <li>
                                            <a href="#0">
                                                <span class="sr-only">Facebook</span>
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#0">
                                                <span class="sr-only">Twitter</span>
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#0">
                                                <span class="sr-only">LinkedIn</span>
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#0">
                                                <span class="sr-only">Email</span>
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </article>

                <article class="l-tile l-blog-tile">
                    <header class="c-blog-content-top">
                        <h2 class="h-line-mark large-mark">Accessibility 101: Tips for Designing With Accessibility in Mind</h2>

                        <div class="c-author-image">
                            <img src="assets/jerico.jpg" alt="Featured People">
                        </div>

                        <p>June 16, 2017 | By: <a href="#0">Jerico Angeles</a></p>
                    </header>

                    <div class="c-blog-image h-placeholder-image h-placeholder-image--30">
                        <img src="assets/fifty-fifty-image.jpg" alt="blog image" class="is-loaded">
                    </div>

                    <div class="c-blog-content-center">
                        <p>Consulting is a fast-paced and rewarding environment, in stark contrast to the iterative and perfection-chasing
                            product design environment. But one thing is constant and should be a top priority: Accessibility.
                            Trying to come up with the coolest and innovative design tends to leave accessibility considerations
                            behind…</p>

                        <a href="#0">Read Article</a>
                    </div>

                    <footer class="c-blog-content-bottom">
                        <div class="row d-md-flex align-items-md-center">
                            <div class="col-sm-12 col-md-6">
                                <div class="c-label-list">
                                    <span>Tags:</span>

                                    <ul class="c-tag-list">
                                        <li><a class="c-tag-link" href="#0">Accessibility, </a></li>
                                        <li><a class="c-tag-link" href="#0">User Experience</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6">
                                <div class="c-label-list justify-content-md-end">
                                    <span>Share:</span>

                                    <ul class="social">
                                        <li>
                                            <a href="#0">
                                                <span class="sr-only">Facebook</span>
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#0">
                                                <span class="sr-only">Twitter</span>
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#0">
                                                <span class="sr-only">LinkedIn</span>
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="#0">
                                                <span class="sr-only">Email</span>
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </article>
            </div>

            <aside class="col-md-12 col-lg-4" role="complementary">
                <div class="l-tile l-blog-tile side-tile l-subscribe">
                    <h3 class="h3">Subscribe To Our Mailing List</h3>

                    <form>
                        <input type="text" name="email" placeholder="Email Address">
                        <input class="c-cta btn btn-primary btn-wide" type="submit" value="Submit">
                    </form>
                </div>

                <div class="l-tile l-blog-tile side-tile">
                    <div class="l-blog-side-link">
                        <h3 class="h3 h-line-mark">Recent</h3>

                        <ul class="nav">
                            <li>
                                <a href="#0">Accessibility 101: Tips for Designing With Accessibility in Mind</a>
                            </li>
                            <li>
                                <a href="#0">Total Email Marketing Control: Integrating Exact Target with Insite B2B Commerce Software</a>
                            </li>
                            <li>
                                <a href="#0">B2B Commerce: Expanding the Insite Software Administration Console for Enhanced Client Control</a>
                            </li>
                            <li>
                                <a href="#0">Dynamic Placeholders for Sitecore 8.2</a>
                            </li>
                            <li>
                                <a href="#0">Authentication using OpenID Connect and ClaimsIdentity in a Sitecore application</a>
                            </li>
                        </ul>
                    </div>

                    <div class="l-blog-side-link">
                        <h3 class="h3 h-line-mark">Popular</h3>

                        <ul class="nav">
                            <li>
                                <a href="#0">Accessibility 101: Tips for Designing With Accessibility in Mind</a>
                            </li>

                            <li>
                                <a href="#0">Total Email Marketing Control: Integrating Exact Target with Insite B2B Commerce Software</a>
                            </li>

                            <li>
                                <a href="#0">B2B Commerce: Expanding the Insite Software Administration Console for Enhanced Client Control</a>
                            </li>

                            <li>
                                <a href="#0">Dynamic Placeholders for Sitecore 8.2</a>
                            </li>

                            <li>
                                <a href="#0">Authentication using OpenID Connect and ClaimsIdentity in a Sitecore application</a>
                            </li>
                        </ul>

                    </div>

                    <div class="l-blog-side-link">
                        <h3 class="h3 h-line-mark">Categories</h3>

                        <ul class="nav">
                            <li>
                                <a href="#0">Web Development (68) </a>
                            </li>

                            <li>
                                <a href="#0">Content Management (44) </a>
                            </li>

                            <li>
                                <a href="#0">Sitecore (42) </a>
                            </li>

                            <li>
                                <a href="#0">Commerce (36) </a>
                            </li>

                            <li>
                                <a href="#0">Architecture (24) </a>
                            </li>

                            <li>
                                <a href="#0">User Experience (16) </a>
                            </li>

                            <li>
                                <a href="#0">Sitecore Commerce (16) </a>
                            </li>

                            <li>
                                <a href="#0">Strategy (15) </a>
                            </li>

                            <li>
                                <a href="#0">Cloud (12) </a>
                            </li>

                            <li>
                                <a href="#0">Application Development (12) </a>
                            </li>

                            <li>
                                <a href="#0">Commerceconnect (12) </a>
                            </li>

                            <li>
                                <a href="#0">Analytics (10) </a>
                            </li>

                            <li>
                                <a href="#0">Mobile (9) </a>
                            </li>

                            <li>
                                <a href="#0">SPEAK (9) </a>
                            </li>
                        </ul>

                        <a class="c-show-more" href="#0">Show More </a>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>