<footer>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="footer-content">
                    <a class="footer-logo" href="/">
                        <img src="assets/xc-logo-dark.svg" alt="XCentium Logo">
                    </a>

                    <ul class="footer-nav">
                        <li>
                            <a href="#0">Home</a>
                        </li>

                        <li>
                            <a href="#0">Work</a>
                        </li>

                        <li>
                            <a href="#0">Insights</a>
                        </li>

                        <li>
                            <a href="#0">About Us</a>
                        </li>

                        <li>
                            <a href="#0">Contact</a>
                        </li>
                    </ul>

                    <p>Subscribe To Our Mailing List</p>

                    <form class="footer-content-form">
                        <input type="text" name="email" placeholder="Email Address">
                        <input class="c-cta btn btn-primary btn-wide" type="submit" value="Submit">
                    </form>

                    <ul class="social">
                        <li>
                            <a href="#0">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#0">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#0">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#0">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                    </ul>

                    <p class="footer-text">XCentium is a Full Service Digital Consultancy. We focus on User Experience, Content Management, Commerce, CRM and Cloud.</p>
                    <p class="copyright">&copy;2017 XCentium. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="back-to-top">
        <a href="#0">
            <img src="assets/up-arrow.svg" alt="Back To Top">
            <br>Back To Top</a>
    </div>
</footer>
