<div class="container container-fluid l-content-blog">
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <!-- === -->
            <div class="l-tile l-blog-tile">
                <div class="c-blog-content-top">
                    <h2 class="h-line-mark large-mark">Accessibility 101: Tips for Designing With Accessibility in Mind</h2>
                    <div class="c-author-image"><img src="assets/jerico.jpg" alt="Featured People"></div>
                    <p>June 16, 2017 |  By: <a href="#0">Jerico Angeles</a></p>
                </div>
                <div class="l-fifty-image-wrapper h-placeholder-image h-placeholder-image--30"><img src="assets/fifty-fifty-image.jpg" alt="blog image" class="is-loaded"></div>
                <div class="c-blog-content-center">
                <p>Consulting is a fast-paced and rewarding environment, in stark contrast to the iterative and perfection-chasing product design environment.  But one thing is constant and should be a top priority: Accessibility. Trying to come up with the coolest and innovative design tends to leave accessibility considerations behind…</p>
                <a href="#0">Read Article</a>
                </div>
                <div class="c-blog-content-bottom">
                <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="d-md-flex align-items-center">
                            <p>Tags:</p> <a class="c-tag-link" href="#0">Accessibility, </a> <a class="c-tag-link" href="#0">User Experience</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                                <ul class="social">
                                        <li>
                                          <p>Share:</p>
                                        </li>
                                        <li>
                                            <a href="#0">
                                                <i class="fab fa-facebook-f"></i>
                                            </a>
                                        </li>
                
                                        <li>
                                            <a href="#0">
                                                <i class="fab fa-twitter"></i>
                                            </a>
                                        </li>
                
                                        <li>
                                            <a href="#0">
                                                <i class="fab fa-linkedin-in"></i>
                                            </a>
                                        </li>
                
                                        <li>
                                            <a href="#0">
                                                 <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                        </div>
                    </div>
                </div>
            </div>
             <!-- === -->
             <div class="l-tile l-blog-tile">
                    <div class="c-blog-content-top">
                        <h2 class="h-line-mark large-mark">Accessibility 101: Tips for Designing With Accessibility in Mind</h2>
                        <div class="c-author-image"><img src="assets/jerico.jpg" alt="Featured People"></div>
                        <p>June 16, 2017 |  By: <a href="#0">Jerico Angeles</a></p>
                    </div>
                    <div class="l-fifty-image-wrapper h-placeholder-image h-placeholder-image--30"><img src="assets/fifty-fifty-image.jpg" alt="blog image" class="is-loaded"></div>
                    <div class="c-blog-content-center">
                    <p>Consulting is a fast-paced and rewarding environment, in stark contrast to the iterative and perfection-chasing product design environment.  But one thing is constant and should be a top priority: Accessibility. Trying to come up with the coolest and innovative design tends to leave accessibility considerations behind…</p>
                    <a href="#0">Read Article</a>
                    </div>
                    <div class="c-blog-content-bottom">
                    <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="d-md-flex align-items-center">
                                <p>Tags:</p> <a class="c-tag-link" href="#0">Accessibility, </a> <a class="c-tag-link" href="#0">User Experience</a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                    <ul class="social">
                                            <li>
                                              <p>Share:</p>
                                            </li>
                                            <li>
                                                <a href="#0">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                    
                                            <li>
                                                <a href="#0">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                    
                                            <li>
                                                <a href="#0">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                    
                                            <li>
                                                <a href="#0">
                                                     <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </a>
                                            </li>
                                        </ul>
                            </div>
                        </div>
                    </div>
                </div>
              <!-- === -->
        </div>
        <div class="col-md-12 col-lg-4">
                <div class="l-tile l-blog-tile side-tile l-subscribe">
                        <p class="h3">Subscribe To Our <br>Mailing List</p>
                        <form>
                            <input type="text" name="email" placeholder="Email Address">
                            <input class="c-cta btn btn-primary btn-wide" type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="l-tile l-blog-tile side-tile">
                        <div class="l-blog-side-link">
                        <p class="h3 h-line-mark">Recent</p>
                        <a href="#0">Accessibility 101: Tips for Designing With Accessibility in Mind</a>
                        <a href="#0">Total Email Marketing Control: Integrating Exact Target with Insite B2B Commerce Software</a>
                        <a href="#0">B2B Commerce: Expanding the Insite Software Administration Console for Enhanced Client Control</a>
                        <a href="#0">Dynamic Placeholders for Sitecore 8.2</a>
                        <a href="#0">Authentication using OpenID Connect and ClaimsIdentity in a Sitecore application</a>
                        </div>
                        <div class="l-blog-side-link">
                        <p class="h3 h-line-mark">Popular</p>
                        <a href="#0">Accessibility 101: Tips for Designing With Accessibility in Mind</a>
                        <a href="#0">Total Email Marketing Control: Integrating Exact Target with Insite B2B Commerce Software</a>
                        <a href="#0">B2B Commerce: Expanding the Insite Software Administration Console for Enhanced Client Control</a>
                        <a href="#0">Dynamic Placeholders for Sitecore 8.2</a>
                        <a href="#0">Authentication using OpenID Connect and ClaimsIdentity in a Sitecore application</a>
                        </div>
                        <div class="l-blog-side-link">
                        <p class="h3 h-line-mark">Categories</p>
                        <a href="#0">Web Development (68) </a>
                        <a href="#0">Content Management (44) </a>
                        <a href="#0">Sitecore (42) </a>
                        <a href="#0">Commerce (36) </a>
                        <a href="#0">Architecture (24) </a>
                        <a href="#0">User Experience (16) </a>
                        <a href="#0">Sitecore Commerce (16) </a>
                        <a href="#0">Strategy (15) </a>
                        <a href="#0">Cloud (12) </a>
                        <a href="#0">Application Development (12) </a>
                        <a href="#0">Commerceconnect (12) </a>
                        <a href="#0">Analytics (10) </a>
                        <a href="#0">Mobile (9) </a>
                        <a href="#0">SPEAK (9) </a>
                        <a class="c-show-more" href="#0">Show More </a>
                        </div>
                    </div>
            </div>
    </div>
</div>