<div class="container container-fluid l-contact">
    <div class="row justify-content-between">
        <div class="col-md-5 pt-3">
            <p class="h1 pb-4">Get in Touch With Us</p>
            <p class="h3 pb-3">XCentium Headquarters</p>
            <p class="pb-2">615 N Nash Street, Suite 303<br> El Segundo, CA 90245</p>
            <p><i class="fas fa-phone c-contact-i"></i> (888) 504-4166</p>
            <p><i class="fas fa-envelope c-contact-i"></i><a href="#0">info@xcentium.com</a></p>
        </div>

        <div class="col-md-6">
            <div class="l-contact-form">
                <input id="Index_565f2619-4c88-410d-9c1e-3841c024e3a5" name="Fields.Index" type="hidden" value="565f2619-4c88-410d-9c1e-3841c024e3a5" />
                <input id="565f2619-4c88-410d-9c1e-3841c024e3a5__ItemId" name="Fields[565f2619-4c88-410d-9c1e-3841c024e3a5].ItemId" type="hidden" value="565f2619-4c88-410d-9c1e-3841c024e3a5" />                <label for="565f2619-4c88-410d-9c1e-3841c024e3a5__Value" class=""></label>

                <input id="565f2619-4c88-410d-9c1e-3841c024e3a5__Value" name="Fields[565f2619-4c88-410d-9c1e-3841c024e3a5].Value" class="" type="text" value="" maxlength="255" placeholder="Full Name" data-sc-tracking="True" data-sc-field-name="Single-Line Text" />
                <span class="field-validation-valid" data-valmsg-for="Fields[565f2619-4c88-410d-9c1e-3841c024e3a5].Value" data-valmsg-replace="true"></span>
                <input id="Index_b7a6fa89-321a-41ed-ab13-8d54064c5ac5" name="Fields.Index" type="hidden" value="b7a6fa89-321a-41ed-ab13-8d54064c5ac5" />
                <input id="b7a6fa89-321a-41ed-ab13-8d54064c5ac5__ItemId" name="Fields[b7a6fa89-321a-41ed-ab13-8d54064c5ac5].ItemId" type="hidden" value="b7a6fa89-321a-41ed-ab13-8d54064c5ac5" />

                <label for="b7a6fa89-321a-41ed-ab13-8d54064c5ac5__Value" class=""></label>
                <input id="b7a6fa89-321a-41ed-ab13-8d54064c5ac5__Value" name="Fields[b7a6fa89-321a-41ed-ab13-8d54064c5ac5].Value" class="" type="text" value="" maxlength="255" placeholder="Company" data-sc-tracking="True" data-sc-field-name="Company" />
                <span class="field-validation-valid" data-valmsg-for="Fields[b7a6fa89-321a-41ed-ab13-8d54064c5ac5].Value" data-valmsg-replace="true"></span>

                <input id="Index_39ed2551-c85e-45fc-a6dd-e54a595f9496" name="Fields.Index" type="hidden" value="39ed2551-c85e-45fc-a6dd-e54a595f9496" />
                <input id="39ed2551-c85e-45fc-a6dd-e54a595f9496__ItemId" name="Fields[39ed2551-c85e-45fc-a6dd-e54a595f9496].ItemId" type="hidden" value="39ed2551-c85e-45fc-a6dd-e54a595f9496" />

                <label for="39ed2551-c85e-45fc-a6dd-e54a595f9496__Value" class=""></label>
                <input id="39ed2551-c85e-45fc-a6dd-e54a595f9496__Value" name="Fields[39ed2551-c85e-45fc-a6dd-e54a595f9496].Value" class="" type="text" value="" maxlength="255" placeholder="Contact Number" data-sc-tracking="True" data-sc-field-name="ContactNumber" />
                <span class="field-validation-valid" data-valmsg-for="Fields[39ed2551-c85e-45fc-a6dd-e54a595f9496].Value" data-valmsg-replace="true"></span>

                <input id="Index_34232fa8-d661-4aa0-bbf5-02386e4b6f24" name="Fields.Index" type="hidden" value="34232fa8-d661-4aa0-bbf5-02386e4b6f24" />
                <input id="34232fa8-d661-4aa0-bbf5-02386e4b6f24__ItemId" name="Fields[34232fa8-d661-4aa0-bbf5-02386e4b6f24].ItemId" type="hidden" value="34232fa8-d661-4aa0-bbf5-02386e4b6f24" />

                <label for="34232fa8-d661-4aa0-bbf5-02386e4b6f24__Value" class=""></label>
                <textarea id="34232fa8-d661-4aa0-bbf5-02386e4b6f24__Value" name="Fields[34232fa8-d661-4aa0-bbf5-02386e4b6f24].Value" class="" rows="4" maxlength="512" placeholder="Message" data-sc-tracking="True" data-sc-field-name="Message"></textarea>
                <span class="field-validation-valid" data-valmsg-for="Fields[34232fa8-d661-4aa0-bbf5-02386e4b6f24].Value" data-valmsg-replace="true"></span>

                <div class="d-flex justify-content-end l-contact-submit ">
                    <input class="c-cta btn btn-primary btn-wide" value="Send" type="submit" name="4e8e2aa2-7e2a-48bb-8451-31d2b4c9f999" />
                    <input id="NavigationButtons" name="NavigationButtons" type="hidden" value="4e8e2aa2-7e2a-48bb-8451-31d2b4c9f999" />
                    <input id="4e8e2aa2-7e2a-48bb-8451-31d2b4c9f999" name="4e8e2aa2-7e2a-48bb-8451-31d2b4c9f999" type="hidden" value="0" />
                </div>
            </div>
        </div>
    </div>
</div>
