<div class="container-fluid l-featured">
    <div class="row">
        <div class="col d-flex justify-content-center pb-5">
            <h2 class="h-line-mark large-mark">Latest From Our Team</h2>
        </div>
    </div>

    <div class="row">
        <div class="col l-featured-col">
            <div class="d-flex justify-content-center c-featured-image">
                <img src="assets/featured-people-image.jpg" alt="Featured People" />
            </div>

            <p class="h4">Using Razor Layouts With Insite Emails</p>
            <p class="mb-0">By <a href="#0">Aaron Bickle</a></p>
            <p><a class="secondary-color-text" href="#0">Read Article</a></p>
        </div>

        <div class="col l-featured-col">
            <div class="d-flex justify-content-center c-featured-image">
                <img src="assets/featured-people-image.jpg" alt="Featured People" />
            </div>

            <p class="h4">Using Razor Layouts With Insite Emails</p>
            <p class="mb-0">By <a href="#0">Aaron Bickle</a></p>
            <p><a class="secondary-color-text" href="#0">Read Article</a></p>
        </div>

        <div class="col l-featured-col">
            <div class="d-flex justify-content-center c-featured-image">
                <img src="assets/featured-people-image.jpg" alt="Featured People" />
            </div>

            <p class="h4">Using Razor Layouts With Insite Emails</p>
            <p class="mb-0">By <a href="#0">Aaron Bickle</a></p>
            <p><a class="secondary-color-text" href="#0">Read Article</a></p>
        </div>

        <div class="col l-featured-col">
            <div class="d-flex justify-content-center c-featured-image">
                <img src="assets/featured-people-image.jpg" alt="Featured People" />
            </div>

            <p class="h4">Using Razor Layouts With Insite Emails</p>
            <p class="mb-0">By <a href="#0">Aaron Bickle</a></p>
            <p><a class="secondary-color-text" href="#0">Read Article</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col d-flex justify-content-center pt-4">
            <a href="#" class="c-hero__cta c-cta btn btn-primary">View More Blog Posts</a>
        </div>
    </div>
</div>
