<div class="l-fifty">
    <div class="row no-gutters">
        <div class="col-lg-6">
            <div class="l-fifty-image">
                <div class="l-fifty-image-wrapper h-placeholder-image h-placeholder-image--16-9">
                    <img src="assets/fifty-fifty-image.jpg" v-lazy-img="'assets/fifty-fifty-image.jpg'" alt="" />
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="l-fifty-text right">
                <h3 class="h-line-mark">Global Biotech Launches New Informative Website</h3>
                <p>A global BioTech firm partnered with XCentium to develop a patient information website to support a new medicine, which was first in it’s class. </p>
                <a href="#" class="c-cta btn btn-primary">Read More</a>
            </div>
        </div>
    </div>

    <div class="row no-gutters">
        <div class="col-lg-6">
            <div class="l-fifty-text">
                <h3 class="h-line-mark">Global Biotech Launches New Informative Website</h3>
                <p>A global BioTech firm partnered with XCentium to develop a patient information website to support a new medicine, which was first in it’s class. </p>
                <a href="#" class="c-cta btn btn-primary">Read More</a>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="l-fifty-image">
                <div class="l-fifty-image-wrapper h-placeholder-image h-placeholder-image--16-9">
                    <img src="assets/fifty-fifty-image.jpg" v-lazy-img="'assets/fifty-fifty-image.jpg'" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>
