<div>
<div class="l-search-modal">
     <a class="c-search-modal-close js-search-close" href="#0"><i class="fas fa-times"></i>
     </a>
     <form class="l-search-inner">
                <p class="h2 white-text">Search XCentium</p>
                <input type="text" class="searchTerm" placeholder="B2B, Commerce, etc.">
                <input type="submit" value="Search" class="c-cta btn btn-primary">

     </form>
</div>
<div class="container-fluid">
        <div class="row">
            <div class="col d-flex justify-content-center pt-4"><a href="#" class="c-hero__cta c-cta btn btn-primary js-search-open">Open Search Modal</a></div>
        </div>
</div>
</div>

