<!-- Start Example With Image -->
<div class="c-testimonial">
    <div class="c-testimonial__container container container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="c-testimonial__image">
                    <img src="assets/boingo-logo.png" />
                </div>
            </div>

            <div class="col-md-8 d-flex">
                <div class="c-testimonial__content">
                    <blockquote class="c-blockquote">
                        <h2 class="h3 sr-only">Nancy Williams</h2>
                        <p>XCentium got us expertly to launch. Without them, we'd be toast. They were a huge help getting our Sitecore instance ready for production. They are knowledgeable, professional and I would recommend them to anyone that needs expert Sitecore assistance. They really improved the way we work. XCentium came recommended by Sitecore and we've never once regretted the choice to partner with them.</p>
                    </blockquote>

                    <div class="c-testimonial__name"> <span class="secondary-color-text">Brian Shields</span>, Director of Web Systems - Boingo</div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- End Example With Image -->

<!-- Start Example Without Image 

<div class="c-testimonial no-image">
    <div class="c-testimonial__container container container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex">
                <div class="c-testimonial__content">
                    <blockquote class="c-blockquote">
                        <h2 class="h3 sr-only">Nancy Williams</h2>
                        <p>XCentium got us expertly to launch. Without them, we'd be toast. They were a huge help getting our Sitecore instance ready for production. They are knowledgeable, professional and I would recommend them to anyone that needs expert Sitecore assistance. They really improved the way we work. XCentium came recommended by Sitecore and we've never once regretted the choice to partner with them.</p>
                    </blockquote>
                    <div class="c-testimonial__name"> <span class="secondary-color-text">Brian Shields</span>, Director of Web Systems - Boingo</div>
                </div>
            </div>
        </div>
    </div>
</div>

 End Example Without Image -->