<div class="tiles tiles__solid-color">
    
    <div class="row  margin-bottom border-bottom">
        <div class="col">
            <div class="c-promo no-link">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--16-9">
                    <img src="assets/Rectangle 8 Copy 7.png" v-lazy-img="'assets/Rectangle 8 Copy 7.png'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content top">
                    <h2 class="c-promo__heading h3">1. Home Equity Loan</h2>
                    <p class="c-promo__desc">You will receive a one-time lump sum loan payment to be used for anything you need.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="c-promo no-link">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--16-9">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image-2.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content top">
                    <h2 class="c-promo__heading h3">2. Home Equity Line of Credit (HELOC)</h2>
                    <p class="c-promo__desc">​You’re able to borrow from your home as a line of credit, similar to borrowing with a credit card. You can borrow what you need, as you need it, up until you reach your credit limit.</p>
                </div>
            </div>
        </div>
    </div>


    <!-- Start New Row 
    <div class="row">
        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image-2.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Bank and Financial</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Car Accident</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Personal Injury</h2>
                </div>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image-2.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Corporate</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Dispute Resolution</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--3-2">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <h2 class="c-promo__heading h3">Employment Law</h2>
                </div>
            </a>
        </div>
    </div>
   -->
    <!-- Start New Row -->
 <!--     <div class="row no-gutters">
        <div class="col">
            <div class="c-promo no-link">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--16-9">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content">
                    <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
                </div>
            </div>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--16-9">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image-2.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <img class="icon" src="assets/tile-icon.svg" alt="" />
                    <h2 class="c-promo__heading h3">Technology</h2>
                </div>
            </a>
        </div>
    </div>
-->
    <!-- Start New Row -->
 <!--    <div class="row no-gutters">
        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content">
                    <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image-2.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content center">
                    <img class="icon" src="assets/tile-icon.svg" alt="" />
                    <h2 class="c-promo__heading h3">Technology</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content">
                    <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
                </div>
            </a>
        </div>

        <div class="col">
            <a href="#0" class="c-promo">
                <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                    <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                </div>

                <span class="h-mask is-dark"></span>

                <div class="c-promo__content">
                    <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
                </div>
            </a>
        </div>
    </div> -->
</div>