<div class="tiles">
                <!-- Start New Row -->
                <div class="row no-gutters">
                    <div class="col">
                        <div class="c-promo no-link">
                            <div class="c-promo__media h-placeholder-image h-placeholder-image--16-9">
                                <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                            </div>
                            <span class="h-mask is-dark"></span>
                            <div class="c-promo__content">
                                <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a href="#0" class="c-promo">
                            <div class="c-promo__media h-placeholder-image h-placeholder-image--16-9">
                                <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image-2.jpg'" alt="" />
                            </div>
                            <span class="h-mask is-dark"></span>
                            <div class="c-promo__content center">
                                <img class="icon" src="assets/tile-icon.svg" alt="" />
                                <h2 class="c-promo__heading h3">Technology</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Start New Row -->
                <div class="row no-gutters">
                    <div class="col">
                        <a href="#0" class="c-promo">
                            <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                                <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image-2.jpg'" alt="" />
                            </div>
                            <span class="h-mask is-dark"></span>
                            <div class="c-promo__content center">
                                <img class="icon" src="assets/tile-icon.svg" alt="" />
                                <h2 class="c-promo__heading h3">Technology</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#0" class="c-promo">
                            <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                                <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                            </div>
                            <span class="h-mask is-dark"></span>
                            <div class="c-promo__content">
                                <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#0" class="c-promo">
                            <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                                <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                            </div>
                            <span class="h-mask is-dark"></span>
                            <div class="c-promo__content">
                                <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Start New Row -->
                <div class="row no-gutters">
                    <div class="col">
                        <a href="#0" class="c-promo">
                            <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                                <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                            </div>
                            <span class="h-mask is-dark"></span>
                            <div class="c-promo__content">
                                <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#0" class="c-promo">
                            <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                                <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image-2.jpg'" alt="" />
                            </div>
                            <span class="h-mask is-dark"></span>
                            <div class="c-promo__content center">
                                <img class="icon" src="assets/tile-icon.svg" alt="" />
                                <h2 class="c-promo__heading h3">Technology</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#0" class="c-promo">
                            <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                                <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                            </div>
                            <span class="h-mask is-dark"></span>
                            <div class="c-promo__content">
                                <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="#0" class="c-promo">
                            <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
                                <img src="assets/news-grid-image.jpg" v-lazy-img="'assets/news-grid-image.jpg'" alt="" />
                            </div>
                            <span class="h-mask is-dark"></span>
                            <div class="c-promo__content">
                                <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
                            </div>
                        </a>
                    </div>
                </div>
            
            </div>