
<div class="l-section">
    <div class="c-hero-full">
        <button class="c-hero-full__media h-placeholder-image h-placeholder-image--bg h-video-play" v-b-modal="'uniqueModalId'">
            <img src="assets/video-overlay-image.jpg" v-lazy-img="'assets/video-overlay-image.jpg'" alt="" />
            <span class="h-mask is-dark"></span>
            <div class="c-hero-full__text">
                    <h2 class="white-text">Properly Set Default Settings <br> On Renderings And Sub-Layouts</h2>
                    <p class="white-text">John Smith, Technical Director</p>
            </div>
           
        </button>

        <xc-youtube trigger="uniqueModalId" video-id="M7lc1UVf-VE"></xc-youtube>
    </div>
</div>
