<div class="l-section video-alt">
    <div class="c-hero-full">
        <button class="c-hero-full__media h-placeholder-image h-placeholder-image--bg h-video-play h-mask-alt is-dark" v-b-modal="'uniqueModalId'">
            <img class="h-mask-img" src="assets/video-overlay-image.jpg" v-lazy-img="'assets/video-overlay-image.jpg'" alt="" />
            <div class="c-hero-full__text">
                    <img class="video-play" src="assets/large-white-play-button.svg"  alt="Video Play" />
                    <h2 class="white-text">Properly Set Default Settings <br> On Renderings And Sub-Layouts</h2>
                    <p class="white-text">John Smith, Technical Director</p>
            </div>
        </button>
        <xc-youtube trigger="uniqueModalId" video-id="M7lc1UVf-VE"></xc-youtube>
    </div>
</div>